body
{
    font-family: arial;
    margin: 0;
}

.main-box {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}

.power_controls {
    padding: 20px;
    text-align: center;
}

#spin_button {
    width: 250px;
}

#spin_button:not(.clickable) {
    filter: grayscale(1);
}

#canvas {
    width: 100%;
    aspect-ratio: 1 / 1;
}

/* Sets the background image for the wheel */
.the_wheel
{
    aspect-ratio: 1 / 1;
    position: relative;
    background-image: url(./wheel_back.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 70px;
}

.center-box {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    margin-top: 70px;
}

.center-box p {
    font-size: 30px;
}

#win-label {
    font-size: 66px;
    font-weight: bold;
    color: green;
}

/* Style applied to the spin button once a power has been selected */
.clickable
{
    cursor: pointer;
}